body {
  font-family: Oswald, sans-serif;
  color: #333;
  font-size: 21px;
  line-height: 1.3;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  line-height: 30px;
  font-weight: 800;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 22px;
  font-weight: 800;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px none #e2e2e2;
  font-size: 18px;
  line-height: 22px;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.problem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 42px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(34.356846473029044, 100.00%, 47.25%, 1.00);
  color: #fff;
}

.solution {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 42px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.validation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 42px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 42px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(34.356846473029044, 100.00%, 47.25%, 1.00);
  color: #fff;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 21px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bigger {
  font-size: 1.8em;
  line-height: 0.9em;
}

.flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-wrapper.left-text {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.flex-wrapper.modal {
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-wrapper.modal-version {
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image {
  height: 42vh;
}

.tab-image {
  display: block;
}

.section-content-container {
  max-width: 800px;
}

.text-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-content.left {
  padding-right: 84px;
}

.text-content.right {
  padding-left: 84px;
}

.subtitle {
  display: inline-block;
  margin-right: -42px;
  float: right;
  opacity: 0.3;
}

.section-title {
  margin-bottom: 42px;
  margin-left: -42px;
}

.button {
  margin: 6px 1em;
  padding: 10px 15px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(34.356846473029044, 100.00%, 47.25%, 1.00);
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: hsla(34.356846473029044, 100.00%, 47.25%, 1.00);
  font-weight: 800;
  cursor: pointer;
}

.button-group {
  text-align: center;
}

.reviews-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tm {
  position: relative;
  left: -1.1em;
  bottom: 1.8em;
  font-size: 0.6em;
}

.faqs-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.faq {
  width: 100%;
}

.faq-toggle {
  width: 100%;
}

.form-block {
  width: 100%;
}

.faq-list {
  position: relative;
  overflow: hidden;
  height: 0px;
}

.accordion-item-trigger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.accordion-item-content {
  overflow: hidden;
  color: #000;
}

.down-arrow {
  width: 1.2em;
  height: 0.7em;
}

.textarea {
  min-height: 150px;
}

.button-2 {
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #272727;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.modal-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
}

.bot-background {
  position: absolute;
  display: block;
  width: 400px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  background-color: #272727;
  opacity: 0;
}

.modal {
  position: relative;
  z-index: 10;
  width: 500px;
  max-width: 100%;
  padding: 25px 40px;
  border-radius: 2px;
  background-color: #fff;
  opacity: 0;
  color: #383838;
  text-align: left;
}

.modal-title {
  margin-bottom: 10px;
  font-size: 19px;
  line-height: 25px;
  font-weight: 800;
  letter-spacing: 0px;
}

.modal-closer {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999;
  width: 30px;
  height: 30px;
  padding: 3px;
  opacity: 0;
  cursor: pointer;
}

.modal-closer:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.paragraph {
  margin-bottom: 15px;
}

.modal-flex-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 50%;
  -ms-flex: 0 50%;
  flex: 0 50%;
  text-align: center;
}

.small-modal-text {
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Oswald, sans-serif;
  font-size: 0.6em;
}

.large-modal-text {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 2em;
}

.footer-text {
  color: rgba(51, 51, 51, .35);
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
}

.navigation {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: none;
  width: 100%;
  height: 100vh;
  max-width: 260px;
  min-width: 200px;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #000;
  background-color: #fff;
}

.nav-wrapper {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav-link {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #000;
  text-align: center;
  text-decoration: none;
}

.nav-link:hover {
  color: hsla(34.356846473029044, 100.00%, 47.25%, 1.00);
}

.social-link {
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

.social-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: center;
}

.close-navigation {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.image-4 {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.navigation-button {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 84px;
  height: 84px;
  margin-top: 10px;
  margin-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.ham-menu {
  position: absolute;
  padding: 20px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.header-opening-title {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 12vw;
  line-height: 1;
  font-weight: 800;
}

.opening-title-wrapper {
  display: none;
}

.opening-logo-wrapper {
  display: none;
  width: 90vw;
  height: 90vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.logo-image {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.logo-text {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 2vw;
  font-weight: 800;
}

.orange-text {
  color: hsla(34.356846473029044, 100.00%, 47.25%, 1.00);
}

@media (max-width: 991px) {
  .problem {
    padding-right: 21px;
    padding-left: 21px;
  }
  .solution {
    padding-right: 21px;
    padding-left: 21px;
  }
  .validation {
    padding-right: 21px;
    padding-left: 21px;
  }
  .contact {
    padding-right: 21px;
    padding-left: 21px;
  }
  .text-content.left {
    padding-right: 50px;
  }
  .text-content.right {
    padding-left: 50px;
  }
  .subtitle {
    margin-right: 0px;
    font-size: 20px;
  }
  .section-title {
    margin-left: 0px;
    font-size: 26px;
  }
  .navigation {
    width: 42vw;
  }
  .logo-text {
    font-size: 21px;
  }
}

@media (max-width: 767px) {
  .modal-wrapper {
    padding: 21px;
  }
  .modal {
    padding: 21px;
  }
  .large-modal-text {
    font-size: 1.5em;
  }
  .step-image {
    width: 100px;
  }
  .logo-text {
    font-size: 18px;
  }
}

@media (max-width: 479px) {
  .flex-wrapper.modal-version {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .flex-wrapper.image-right {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .text-content.left {
    padding-right: 0px;
  }
  .text-content.right {
    padding-left: 0px;
  }
  .section-title {
    min-width: 200px;
    font-size: 17px;
    line-height: 20px;
  }
  .reviews-content {
    margin-top: 21px;
  }
  .button-text {
    font-size: 15px;
  }
  .modal-wrapper {
    padding: 70px 20px 20px;
  }
  .modal-flex-item {
    width: 49%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .small-modal-text {
    font-size: 0.5em;
  }
  .large-modal-text {
    font-size: 1.3em;
  }
  .step-image {
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  .opening-logo-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .logo-image {
    width: 73%;
    height: 200px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .logo-text.right {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

